/* border box fix */
html {
	box-sizing: border-box;
}
* , *::before, *::after {
	box-sizing: inherit;
}
/* Global Styles
--------------------*/
#page {
	max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
body {
	font-size: 16px;
	cursor: default;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #4d4d4c;
	background-color: white;
	margin: 0;
	padding: 0;
}
/* Text
--------------------*/

h1 {
	color: #29abe2;
	margin: 0 0 1em 0;
	font-size: 2.8em;
	font-weight: 700;
}
h2 {
  margin: 0 0 .5em 0;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.1em;
	color: #29abe2;
}
h3 {
  margin: 0;
  font-size: 1.4em;
  font-weight: 700;
	padding-right: 0;
}
h4 {
  margin: 0 0 1.5em 0;
  font-size: 1em;
  font-weight: 700;
	color: #29abe2;
}
h5 {
  margin: 0 0 1.5em 0;
  font-size: .9em;
  font-weight: 700;
	color: #29abe2;
}
p {
  margin: 0 0 .5em 0;
	font-size: 1.1em;
}
a {
  color: #007eff;
}
a:visited {
  color: #ccc;
}
a.btn {
	padding: 0;
	margin-bottom: 5px;
	border: 1px solid #eee;
	transition: background-color .5s;
}
a.btn:hover {
	background-color: rgba(0,0,0,.3);
}
a.btn-header {
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 4px 15px;
  transition: background-color .5s;
	border-style: ridge;
}
a.btn-header:hover {
  background-color: rgba(0,0,0,.3);
}
hr {
	margin: 0;
	margin-bottom: 1em;
}

/* Header
--------------------*/

header {
  height: 300px;
	background-color: #4d4d4c;
	background: url("../graphics/banner.svg") no-repeat;
	background-size: cover;
	position: relative;
}
header a.logo {
  z-index: 1;
  position: absolute;
  display: block;
  width: 220px;
  height: 214px;
  background: url("../graphics/pd-logo.svg") no-repeat 0 0;
  background-size: contain;
  top: 60px;
  left: 20px;
}
header .hero {
  position: absolute;
  width: 42%;
  top: 120px;
  left: 60%;
}
header .hero h1 {
  line-height: 1em;
  margin: 0 0 30px 0;
  color: #29abe2;
}
.socialmediaicons ul {
  margin: 0;
  padding-left: 1em;
  list-style: none;
}
.socialmediaicons ul li {
  display: inline-block;
  margin: 200px 0 0 10px;
}
.socialmediaicons ul li img {
  width: 35px;
  border-radius: 50%;
}

/* Section
--------------------*/

section {
  padding: 0 10px;
}
section::after {
  content:'';
  display: block;
  clear: both;
}
section, article, footer, header, nav, main {
	display: block;
}
legend {
	color: #29abe2;
}
/* Section - Main / Container
--------------------*/

.container {
	padding: 0;
}
.main {
	margin: 30px 0;
	text-align: left;
}
.main article {
	position: relative;
}
.main article.content {
	padding: none;
}
.main article h2 {
	color: #29abe2;
}
.main article h3 {
	color: #29abe2;
	padding: 10px 0 5px 0;
	clear: both;
	line-height: 1.3em;
}
.main article h4 {
	color: #29abe2;
	padding: 10px 0 0 0;
}
.main article h5 {
	color: #000;
}
.main article ul {
	padding: 0 0 0 20px;
	list-style: square;
	line-height: 1.5;
}
.main article .content {
	display: block;
}
.main article .content a {
	font-weight: 700;
	text-decoration: none;
	color: #4d4d4c;
}
.main article .content p {
	font-size: 1.1em;
	padding: 0;
	font-weight: 700;
}
.main article .content ul {
	list-style: square;
	font-size: 16px;
	padding-left: 1em;
}
.main article .info li {
	list-style: none;
}
.main article .info a.email {
	text-decoration: underline;
	color: #4d4d4c;
	font-weight: normal;
}
.job ul li {
	padding-top: 5px;
}
.skills table tr th {
	padding-bottom: 1.5em;
	padding-left: 1em;
}
.col-sm-6 {
	padding: 0 5px 0 5px;
	margin: 0;
}
.col-sm-2 {
	padding: 0 0 0 15px;

}
.thumbnail {
	border: none;
}
.textbox {
	min-height: 50px;
	max-height: 200px;
	min-width: inherit;
	max-width: 100%;
}
/* Navigation
--------------------*/

nav {
  background-color: rgba(0,0,0,.65);
  position: none;
  top: 0px; left: 0px;
  padding: 0;
  max-width: 1200px;
}
nav::after {
  content:'';
  display: block;
  clear: both;
}
nav ul {
  list-style: none;
  margin: 0 0 0 40px;
  padding: 0px;
}
nav ul li:hover {
}
nav ul li:hover > ul {
  display: none;
}
nav ul li a {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  width: 125px;
  position: relative;
	font-weight: 700;
}
nav ul li a:visited {
  color: #fff;
}
nav ul li a:hover {
  background-color: #29abe2;
}
nav ul ul li {
  position: relative;
}
nav ul ul ul {
  left: 100%;
  top: 0px;
}

/* top-level
--------------------*/

nav > ul {
  padding-left: 200px;
}
nav > ul > li {
  float: left;
}
nav > ul > li > a {
  width: auto;
  padding: 15px 20px;
}
nav a[aria-haspopup="true"]::after {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 16px; right: 15px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #fff;
}
nav > ul > li > a[aria-haspopup="true"]::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  left: 20px; right: auto;
  bottom: 6px; top: auto;
}

/* Footer
--------------------*/

footer {
  font-size: .8em;
  margin: 60px 40px 40px 30px;
  color: #999;
}
footer .content {
  display: inline;
}
footer a {
  margin-left: 30px;
  color: #777;
}
footer a:visited {
  color: #777;
}
footer a:hover {
  color: #000;
}
@media screen and (max-width:650px) {
	nav {
		max-height: 52px;
	}
	nav ul {
		padding-left: 0;
	}
}
/* Form
------------------*/
